---
import { getEntryBySlug } from "astro:content";
import { defaultDescription, url } from "@/metadata";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  return Astro.redirect("/");
}

const entry = await getEntryBySlug("web", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const {
  Content,
  remarkPluginFrontmatter: { title, category },
} = await entry.render();
---

<Layout title={`${title} | ${url.slice(8)}`} description={defaultDescription}>
  <h1 class="text-4xl font-bold pb-4">{title}</h1>
  <article class="prose prose-headings:text-white prose-p:text-white">
    <Content />
  </article>
</Layout>
