---
import Layout from "@/layouts/Layout.astro";
import { defaultDescription, name } from "@/metadata";
import { getCollection } from "astro:content";

const allPosts = await getCollection("web");
---

<Layout
  title={name + " | Front-End Developer"}
  description={defaultDescription}
>
  <ul class="flex flex-col gap-3">
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
