---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { defaultDescription, name } from "@/metadata";
import { getCollection } from "astro:content";

const allPosts = await getCollection("web");

const params = Astro.params;
const filteredPost = allPosts.filter(
  (post) => post.data.category.toLowerCase() === params.category?.toLowerCase()
);
---

<Layout
  title={name + " | Front-End Developer"}
  description={defaultDescription}
>
  <main
    class="grid grid-cols-1 min-[614px]:grid-cols-2 pc:grid-cols-3 gap-3 pt-4"
  >
    {filteredPost.map((post) => <Card {...post.data} slug={post.slug} />)}
  </main>
</Layout>
