---
import Layout, { name } from "../layouts/Layout.astro";
---

<Layout title={name + " | Home"} description="📂 Junseong Park's Website'">
  <main>
    <h1>Main Page</h1>
    <a href="/posts">Posts</a>
  </main>
</Layout>
