---
import { name } from "@/metadata";
---

<header class="sticky top-0 z-10 px-6 py-12">
  <nav class="flex justify-between max-w-[600px] mx-auto">
    <div id="logo" class="flex items-center">
      <a href="/" class="flex items-center gap-2">
        <img src="/favicon-32x32.png" alt="logo" />
        <span class="font-extrabold">{name}</span>
      </a>
    </div>
    <div id="sns" class="mobile:flex text-sm gap-4 items-center hidden">
      <a href="https://github.com/junseongparkme" target="_blank">Github</a>
      <a href="https://twitter.com/junseongparkme" target="_blank">Twitter</a>
    </div>
  </nav>
</header>

<style>
  #logo {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
